PATH="${XDG_BIN_HOME}:${PATH}"

GOROOT="${_my_tool_root}/go"
GOPATH="${GOROOT}/vendor"
GOCACHE="${GOROOT}/cache"
PATH="${GOROOT}/bin:${GOPATH}/bin:${PATH}"

FNM_DIR="${_my_tool_root}/fnm"
npm_config_cache="${FNM_DIR}/cache/npm"
PATH="${FNM_DIR}/bin:${PATH}"

__my_deno_install="${_my_tool_root}/deno"
DENO_INSTALL_ROOT="${__my_deno_install}/bin"
DENO_DIR="${__my_deno_install}/cache"
PATH="${DENO_INSTALL_ROOT}:${PATH}"

BUN_INSTALL="${_my_tool_root}/bun"
BUN_INSTALL_CACHE_DIR="${BUN_INSTALL}/cache"
PATH="${BUN_INSTALL}/bin:${PATH}"

RBENV_ROOT="${_my_tool_root}/rbenv"
PATH="${RBENV_ROOT}/bin:${PATH}"

CARGO_HOME="${_my_tool_root}/cargo"
CARGO_INSTALL_ROOT="${CARGO_HOME}"
RUSTUP_HOME="${_my_tool_root}/rustup"
_my_rust_analyzer_install="${XDG_BIN_HOME}"
PATH="${CARGO_HOME}/bin:${PATH}"

__my_uv_root="${_my_tool_root}/uv"
UV_INSTALL_DIR="${__my_uv_root}/bin"
UV_CACHE_DIR="${__my_uv_root}/cache"
UV_PYTHON_BIN_DIR="${__my_uv_root}/python/bin"
UV_PYTHON_INSTALL_DIR="${__my_uv_root}/python/install"
UV_PYTHON_CACHE_DIR="${__my_uv_root}/python/cache"
UV_TOOL_BIN_DIR="${__my_uv_root}/tool/bin"
UV_TOOL_DIR="${__my_uv_root}/tool/install"
PATH="${UV_INSTALL_DIR}:${UV_PYTHON_BIN_DIR}:${UV_TOOL_BIN_DIR}:${PATH}"

_my_zig_root="${_my_tool_root}/zig"
ZIG_GLOBAL_CACHE_DIR="${_my_zig_root}/cache"
PATH="${_my_zig_root}:${PATH}"

_my_fish_install="${XDG_BIN_HOME}"

_my_nvim_install="${XDG_BIN_HOME}"

_my_starship_install="${XDG_BIN_HOME}"

_my_jaq_install="${XDG_BIN_HOME}"
